{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-console": "error",
    "indent": ["error", "tab"],
    "no-trailing-spaces": ["error"],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
    "no-multi-spaces": "error",
    "import/first": "error",
    "react/prop-types": "off",
    "max-len": ["error", { "code": 120 }],
    "react/jsx-curly-spacing": [2, "always"],
    "react/display-name": [0],
    "@typescript-eslint/object-curly-spacing": [2, "always"],
    "@typescript-eslint/no-explicit-any": "off",
    "react/jsx-tag-spacing": ["error", {
      "closingSlash": "never",
      "beforeSelfClosing": "always",
      "afterOpening": "never",
      "beforeClosing": "allow"
    }],
    "semi": [2, "always"],
    "no-mixed-spaces-and-tabs": [0],
    "react-hooks/exhaustive-deps": [0]
  },
  "extends": [
    "react-app",
    "react-app/jest",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "root": true,
  "plugins": ["react", "@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}